name: Code quality check

on:
  push:
      branches:
        - main

jobs:
  code-quality-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: pip install pipenv && pipenv sync --dev --system
      - name: code quality check
        run: flake8 ./
